pulse
obsidian
discord
BraveSoftware
mozzila
cachyos
micro
forge
ibus
session
user-dirs
wasitlos
spotify
Electron
JetBrains
zed
.gsd-keyboard.settings-ported
kiorc
user-dirs.dirs
user-dirs.locale
mimeapps.list
pavucontrol.ini
baloofileinformationrc
mozzila/firefox
libreoffice/4
wasitlos
dconf
