* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 13px;
}

@define-color background-col rgba(24, 36, 24, 0.9);
@define-color background-border rgba(0, 104, 0, 0.5); 
@define-color background-border-shift rgba(10, 100, 0, 0.5); 
@define-color word-col #b3c9b3;
@define-color contrast-col #ff9191;
window#waybar {
    background-color: transparent;
    border-bottom: 2px solid transparent;
    margin:0px;
    transition-property: background-color;
    transition-duration: .5s;
}


window#waybar:hover {
    background-color: rgba(24, 36, 24, 1);
    margin:0px;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
    margin:10px;
}

.modules-center {
  font-size: 20px;
  font-weight: bold; 
  padding: 2px;
  background-color:rgba(24,36,23,1);
}

.modules-left{
  font-size: 20px;
  border-radius:0px;
  border-top-right-radius: 0px;
  background-color:rgba(24,36,23,1);

}

.modules-right{
  font-size: 20px;
  border-radius:0px;
  background-color:rgba(24,36,23,1);
}
/*
window#waybar.empty {
    background-color: transparent;
}
window#waybar.solo {
    background-color: #FFFFFF;
}
*/

window#waybar.termite {
    background-color: #000000;
}

window#waybar.chromium {
    background-color: #000000;
    color: @background-col;
    border: none;
}

button {
    /* Use box-shadow instead of border so the text isn't offset */
    box-shadow: inset 0 -3px transparent;
    /* Avoid rounded borders under each button name */
    border: none;
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
button:hover {
    background: inherit;
    box-shadow: inset 0 -5px @background-border;
}


#workspaces button {
    padding: 1 5px;
    background-color: rgba(24, 36, 24, 1);
    border-radius:0;
    color: @word-col;
    
}

#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
}


#workspaces button.focused, #workspaces button.active {
    box-shadow: inset 0 -3px rgba(0, 255, 0, 0.2);
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    box-shadow: inset 0 -3px #ffffff;
}
#clock,
#battery,
#cpu,
#memory,
#disk,
#temperature,
#backlight,
#network,
#pulseaudio,
#wireplumber,
#custom-media,
#tray,
#mode,
#idle_inhibitor,
#scratchpad,
#media,
#power-profiles-daemon,
#mpd {
    padding: 0 5px;
    color: @word-col;
}
#clock:hover,
#battery:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover,
#backlight:hover,
#network:hover,
#pulseaudio:hover,
#wireplumber:hover,
#custom-media:hover,
#tray:hover,
#mode:hover,
#idle_inhibitor:hover,
#scratchpad:hover,
#media:hover,
#power-profiles-daemon:hover,
#mpd:hover {
    padding: 0 5px;
    color: @word-col;
    box-shadow: inset 0 -3px @background-border-shift;
}


#spacer{
  color: #b1c9b8;
}

#arrow{
  color:@word-col;
}

#mpris{
  padding-left:5px;
  padding-right:5px;
  background:@background-border;
  border:2px solid @background-border-shift;
  color: @word-col;
}


#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
}

#battery {
    color: @word-col;
}

#battery.charging, #battery.plugged {
    color: #ffffff;
    border-radius: 0px;
    background-color: #26A65B;
}

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #000000;
    }
}

/* Using steps() instead of linear as a timing function to limit cpu usage */
#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: steps(12);
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


#power-profiles-daemon.performance {
    color: @word-col;
}

#power-profiles-daemon.balanced {
    color: @word-col;
}

#power-profiles-daemon.power-saver {
    color: @word-col;
}

label:focus {
    background-color: #000000;
}

#cpu {
    color: @word-col; 
}

#memory {
}

#disk {
}

#backlight {
}

#network {
}

#network.disconnected {
}

#pulseaudio {
    color: @word-col;
}

#pulseaudio.muted {
    color: @word-col;
}

#wireplumber {
    color: #000000;
}

#wireplumber.muted {
}

#media {
    color: #2a5c45;
    min-width: 100px;
}

#media.custom-spotify {
}

#media.custom-vlc {
}

#temperature {
}

#temperature.critical {
    background-color: #eb4d4b;
}

#tray {
    background-color: #2980b9;
}

#tray > .passive {
    -gtk-icon-effect: dim;
}

#tray > .needs-attention {
    -gtk-icon-effect: highlight;
    background-color: #eb4d4b;
}

#idle_inhibitor {
    background-color: #2d3436;
}

#idle_inhibitor.activated {
    background-color: #ecf0f1;
    color: #2d3436;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#language {
    background: #00b093;
    color: #740864;
    padding: 0 5px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state {
    background: #97e1ad;
    color: #000000;
    padding: 0 0px;
    margin: 0 5px;
    min-width: 16px;
}

#keyboard-state > label {
    padding: 0 5px;
}

#keyboard-state > label.locked {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad {
    background: rgba(0, 0, 0, 0.2);
}

#scratchpad.empty {
	background-color: transparent;
}

#privacy {
    padding: 0;
}

#privacy-item {
    padding: 0 5px;
    color: white;
}

#privacy-item.screenshare {
    background-color: #cf5700;
}

#privacy-item.audio-in {
    background-color: #1ca000;
}

#privacy-item.audio-out {
    background-color: #0069d4;
}
