window {
    background-color: rgba(24, 40, 24, 0.2);
    color: #c2c2c2;
}

#input {
    background-color: rgba(24, 36, 24, 0.6);
    color: #FFFFFF;
    border: none;
}

#entry:selected {
    background-color:rgba(0, 43, 0,0.7);
    color: #2e3440;
}
