window {
    background-color: rgba(9,9,9, 1);
    color: #c2c2c2;
}

#input {
    background-color: rgba(255,255,255,0.6);
    color: #FFFFFF;
    border: none;
}

#entry:selected {
    background-color:rgba(79, 79, 79,1);
    color: #2e3440;
}
